{% extends "::base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
{% endblock %}
{% block body %}
    <div id="header">
        <div id="head-top">
            <span class="main-title">Lyra cms</span>
            <h1 class="page-title">Cms developed with symfony framework</h1>
        </div>
        <div id="menu">
            {% render 'LyraContentBundle:Main:navigation' with {'parent' : null, 'depth': 1, 'addParent' : true} %}
        </div>
    </div>
    <div id="out-container">
        <div id="inner-container">
            <div id="main-content">
                {% block content %}{% endblock %}
            </div>
            <div id="right-col">
                {% block admin %}{% endblock %}
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
    <div id="footer">
        &copy;2011 Lyra CMS. All Rights Reserved.
    </div>
{% endblock body %}
